commun()
	background-color white

header#baniere
	background-image url('anneaux.png')
	background-size 100%
	background-repeat no-repeat
	background-color white
	& h1
		commun()
	& p
		commun()
		display inline-block

ul#choix_fin_accueil li
ul.choix li
	margin-top 1em
