<div class="container">
	<h1>Bienvenue aux Olympiades !</h1>
	<p>Après l'immense succès du rallye en 2014, l'Association des Parents d'Elèves de Houppeville a le plaisir de vous convier aux Olympiades 2015</p>
	<p>Les différentes épreuves conçues pour amuser petits et grands vous offriront à nouveau une balade conviviale à travers Houppeville, avant un grand goûter de l'amitié offert par l'Association</p>
	<p>Sur le thème des dessins animés, constituez une équipe jusqu'à 8 personnes ou complétez une équipe existante. Convivialité, rencontres et sportivité rythmeront la journée du 31 mai</p>
	<p>Vous pouvez choisir votre équipe dès maintenant en vous préinscrivant sur ce site ou vous inscrire sur place (stade) à partir de 13h30
	<nav>
		<ul id="choix_fin_accueil">
			<li>Convaincu ?  <a href="#/participer" class="btn btn-info" role="button">Participer</a></li>
			<li>Déjà inscrit ? <a href="#/infos" class=" btn btn-default">Retrouvez les infos pratiques !</a></li>
		</ul>
		</nav>
</div>
