<div class="container">
	<h1>Bienvenue sur l'interface d'administration !</h1>
	<div class="form-horizontal">
		<div class="form-group">
			<label for="nom" class="col-sm'2 control-label">Nom de l'équipe</label>
			<input ng-model="nom" class="form-control" />
		</div>
		<div class="form-group">
			<label for="image" class="col-sm'2 control-label">Fichier image</label>
			<input type="file" onchange="angular.element(this).scope().onFileSet(this.files)" class="form-control">
		</div>
		<button ng-click='addEquipe()' class='btn btn-default'>Ajouter</button>
	</div><!--fin formulaire-->
	<h1>Les équipes</h1>
	<ul class='list-group'>
		<li ng-repeat="equipe in equipes" class='list-group-item'>
			<strong ng-bind-template="{{equipe.nom}}"></strong>
			<img ng-src="/images/{{equipe.nom}}" alt="image de {{equipe.nom}}">
			<ul class='list-group'>
				<li ng-repeat="participant in equipe.participants">
					<strong ng-bind="participant.nom" ></strong> a inscrit <span ng-bind="participant.nbAdultes"></span> adultes et <span ng-bind="participant.nbEnfants" ></span> enfants</li>
			</ul>
		</li>
	</ul>
</div>
