<div class="container">
	<div class="span1hkjh0">
		<div ng-if="Message.nom" class="alert alert-success">Merci ! vous êtes bien inscrit. Rendez-vous à 13h30 au stade le 31 mai !<br />Pour toute modification de votre inscription, contactez-nous par email : apehouppeville@gmail.com</div>
	<h1>Infos pratiques</h1>
	<ul class="choix">
		<li>La préinscription sur le site n'est pas obligatoire. Vous pouvez vous inscrire sur place. Vous préinscrire vous permet de réserver votre équipe dès maintenant</li>
		<li>Rendez-vous au stade à 13h30 pour le réglement des préinscriptions ou les inscriptions sur place</li>
		<li>Tarif : 1€ par participant</li>
		<li>Cérémonie d'ouverture à 14h</li>
		<li>Ne pas garer la voiture au stade ! la journée se terminera à l'école Gérard Philipe</li>
		<li>Prévoir des vêtements adaptés au temps : chapeaux et bouteilles d'eau si soleil, parapluie si temps Normand</li>
		<li>Les déguisements sont les bienvenus !</li>
		<li>Pour toute question ou modification de votre préinscription, contactez-nous par mail : apehouppeville@gmail.com</li>

	</ul>

</div>
</div>
