<div class="container">
	<h1>Rejoindre une équipe</h1>
	<p>Inscrivez au minimum 2 personnes. 1 adulte est obligatoire pour accompagner les petits enfants</p><p> Les groupes d'adolescents (responsables) sont autorisés avec l'autorisation de leurs parents.</p>
	<h2>Qui participe ?</h2>
	<div class="form-horizontal">
		<div class="form-group">
			<label for="nom" class="col-sm'2 control-label">Votre nom</label>
			<input ng-change="filtrerDispos()" ng-model="nom" class="form-control" />
			<span class="bg-info" ng-if="nom==null || nom==''"><em>Veuillez saisir le nom du chef d'équipe</em></span>
				
		</div>
		<div class="form-group">
			<label for="adultes" class="col-sm'2 control-label">Combien d'adultes ?</label>
			<input type="number" min="0" max="7" ng-change="filtrerDispos()" ng-model="adultes" class="form-control">
			<span class="bg-danger" ng-if="isNumber(adultes)==false"><em>Veuillez saisir le nombre d'adultes</em></span>
		</div>
		<div class="form-group">
			<label for="enfants" class="col-sm'2 control-label">Combien d'enfants ?</label>
			<input type="number" min="0" max="7" ng-change="filtrerDispos()" ng-model="enfants" class="form-control">
			<span class="bg-danger" ng-if="isNumber(enfants)==false"><em>Veuillez saisir le nombre d'enfants</em></span>
		</div>
		<div ng-if="enfants + adultes > 8" class="alert alert-danger"  >Le nombre maximal de participants dans une équipe est de 8, veuillez inscrire 2 équipes l'une après l'autre</div>
	</div><!--fin formulaire-->
	<h2>Choix de l'équipe</h2>
	<p>Parcourez les équipes disponibles et cliquez sur "rejoindre" pour terminer votre inscription</p>
	<ul class='list-group'>
		<li ng-repeat="equipe in equipes |orderBy:['-completable','-nbInscrits']" class='list-group-item'>
			<img ng-src="/images/{{equipe.nom}}" alt="image de {{equipe.nom}}">
			<strong ng-bind-template="{{equipe.nom}}"></strong>
			<span ng-if="equipe.nbInscrits<7" ng-bind-template="Il reste {{8-equipe.nbInscrits}} places"></span>
			<span ng-if="equipe.nbInscrits>=7">Cette équipe est complète</span>
			<button ng-if="equipe.completable && formValide" ng-click="rejoindre(equipe.id)" class="btn btn-default">Rejoindre cette équipe</button>
			<div ng-if="formValide == false"><em>Complétez le formulaire pour rejoindre une équipe</em></div>
			<div ng-show="err{{equipe.id}}" class="alert alert-warning">Vérifiez votre saisie du formulaire en haut pour rejoindre l'équipe !</div> 
		</li>
	</ul>
</div>

